@use '~styles/colors.scss' as colors;

.button {
  display: flex;

  align-items: center;
  justify-content: center;

  font-family: 'Noto Sans', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 500;

  padding: 1.6rem;
  border: unset;

  background-color: colors.$primary200;
  border-radius: 1.4rem;

  transition: 0.3s ease-in-out;

  cursor: pointer;
  appearance: none;

  &__slider {
    width: 5rem;
    height: 5rem;

    color: colors.$primary200;

    background-color: colors.$white;
    box-shadow: 0 1px 4px 0 rgb(139, 158, 184);

    &:hover:not(:disabled) {
      color: colors.$white;

      opacity: 0.8;
    }
  }

  &--block {
    width: 100%;

    display: block;
  }

  &:hover:not(:disabled) {
    background: colors.$primary600;
    transform: scale(1.02);
  }

  &:focus-visible {
    outline: 2px solid colors.$primary200;
    outline-offset: 2px;
  }

  &:disabled {
    background: colors.$gray600;

    cursor: not-allowed;
  }
}
