@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.card-pet-container {
  max-width: 45rem;
  height: 29rem;
  background-color: #1B85F3;
  border-radius: 2rem;
  border: 1px solid #F7FAFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fonts.$primaryFont;
  color: #fff;
  text-align: center;
  cursor: pointer;

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 2rem 0 2rem 0;
  }

  &__name-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__name {
    font-weight: fonts.$semiBold;
    font-size: fonts.$lg;
  }

  &__type {
    color: #ffffffbb;
    font-size: fonts.$xs;
  }

  &__race {
    font-family: fonts.$fourthFont;
    font-size: fonts.$sm;
    font-weight: fonts.$regular;
  }

  &__info {
    display: none;
    flex-direction: row;
    gap: 1rem;
  }

  &__desc {
    width: 25rem;
    font-family: fonts.$fourthFont;
    font-weight: fonts.$regular;
  }

  &__img-border1 {
    width: 20.8rem;
    height: 20.8rem;
    border-radius: 50%;
    background: #ffffff0a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-border2 {
    width: 17.2rem;
    height: 17.2rem;
    border-radius: 50%;
    background: #ffffff13;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-border3 {
    width: 13.3rem;
    height: 13.3rem;
    border-radius: 50%;
    background: #ffffff18;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 12.4rem;
    height: 12.4rem;
    border-radius: 50%;
  }

}

@include breakpoints.from1280 {
  .card-pet-container {
    max-width: 57rem !important;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
    &__infos {
      width: 25rem;
    }
    
    &__info {
      display: block !important;
    }
  }
}

@include breakpoints.from1024 {
  .card-pet-container {
    width: 25rem;
    height: 28rem;
    background-color: #1B85F3;
    border-radius: 1.8rem;
    border: 1px solid #F7FAFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: fonts.$primaryFont;
    color: #fff;
    cursor: pointer;
  }
}

@include breakpoints.from667 {
  .card-pet-container {
    width: 25rem;
    height: 28rem;
    background-color: #1B85F3;
    border-radius: 1.8rem;
    border: 1px solid #F7FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fonts.$primaryFont;
    color: #fff;
    cursor: pointer;
    flex-direction: column;

    &__info {
      display: none;
      flex-direction: row;
      gap: 1rem;
    }
  }

  
}


