@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.card-container {
  width: 14rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  color: colors.$gray600;

  background-color: colors.$secondary100;
  box-shadow: 0 0 0.3rem 0.3rem rgb(236, 239, 242);
  border-radius: 21px;
  outline: 3px transparent;
  transition: 0.3s;
  cursor: pointer;

  &__image {
    height: 13rem;
    width: 13.4rem;
    border-radius: 50%;
    align-self: center;
    position: relative;
    z-index: 2;
    margin-top: -6rem;
    box-shadow: 0px 2px 6px 0 gray;

    
  }

  &__title {
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: fonts.$md;
    font-weight: fonts.$bold;
    padding: 2rem 0 0 0;

  }

  &__age {
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: fonts.$xxs;
    padding: 2rem 0 0 0;
    font-weight: fonts.$regular;

  }

  &:hover {
    color: colors.$primary200;
    outline: 3px solid colors.$primary200;
    transform: scale(1.1);
    
    .card-container__image {
      box-shadow: 0px 2px 6px 0 colors.$primary200;
    }
  }
}
