@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/fonts.scss' as fonts;


.pet-race {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;


  &__pet-progress {
    padding: 3rem 0 0 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
    
  }

  &__description {
    max-width: 33.5rem;

    font-family: 'Montserrat', sans-serif;
  }

  &__title {
    font-family: fonts.$primaryFont;
    color: colors.$gray800;
    text-align: center;
    font-size: fonts.$xs;
    font-weight: fonts.$medium;

    margin: 0 auto 3rem;
  }

  &__image {
    max-width: 18.6rem;

  }

  
  &__input {
    width: min(100%, 32rem);

    margin: 0 auto;
  }

  &__content {
    text-align: center;
  }

  &__footer {
    width: 100%;

    display: flex;

    justify-content: center;
    padding: 0 0 2rem 0;

  }

  &__button {
    width: min(100%, 32rem);
  }
}

@include breakpoints.from1024 {
  .no-pet-regirested-page {
    &__description {
      max-width: 46rem;
    }

    &__title {
      font-size: 3.4rem;
    }

    &__hint {
      font-size: 1.8rem;

      margin-top: 2rem;
    }

    &__image {
      margin-top: 0;
    }

    &__input {
    width: min(100%, 42rem);
      
    }

    &__button {
      margin-top: 4rem;
      width: min(100%, 42rem);

    }

    &__content {
      display: flex;

      align-items: center;
    }
  }
}
