@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/colors.scss' as colors;
@use '~styles/fonts.scss' as fonts;

.pet-birthday {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;

  &__pet-progress {
    padding: 3rem 0 0 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  &__image {
    max-width: 18.6rem;
  }

  &__title {
    font-family: fonts.$primaryFont;
    color: colors.$gray800;
    text-align: center;
    font-size: fonts.$xs;
    font-weight: fonts.$medium;

    margin: 3rem auto 3rem;
  }

  &__input {
    width: min(100%, 32rem);

    margin: 0 auto;
  }

  &__footer {
    width: 100%;

    display: flex;

    justify-content: center;
    padding: 0 0 2rem 0;


  }

  &__button {
    width: min(100%, 32rem);
  }
}

@include breakpoints.from1024 {
  .pet-name {
    align-items: center;

    &__container {
      margin-bottom: 0;
    }

    &__title {
      font-size: fonts.$sm;

      margin-top: 15rem;
    }

    &__button {
      margin-top: 4rem;
      width: min(100%, 42rem);

    }

    &__input {
      width: min(100%, 42rem);
  
      margin: 0 auto;
    }
  }
}
