<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://firebasestorage.googleapis.com/v0/b/pet-dex-35d7a.firebasestorage.app/o/favicon.png?alt=media&token=2d7e1325-fb17-45df-b6f3-dffe843ecce7"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <title>Pet Dex - Organize e Cuide dos Seus Pets</title>
    <script src="/index.js" type="module"></script>
  </head>

  <body>
    <div data-select="home" class="root home">
      <nav data-select="navigation" class="home__navigation"></nav>
      <aside data-select="sidemenu" class="home__sidemenu"></aside>
      <main
        data-select="content"
        class="home__content"
        data-vanilla-route-ele="router-wrap"
      ></main>
    </div>
  </body>
</html>
